  <h1>Welcome to {{ title() }}</h1>
<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input formControlName="login" placeholder="Identifiant" />
  <input formControlName="password" type="password" placeholder="Mot de passe" />
  <button type="submit">Connexion</button>
</form>
<p *ngIf="message">{{ message }}</p>
  @if (user(); as userData) {
    <p>Bonjour {{ userData.nom }} ! Vous êtes bien connecté.</p>
  } @else {
    <p>Veuillez vous connecter pour accéder au contenu.</p>
  }
</div>


